<div class="page page-dashboard" data-ng-controller="FormGenerateCtrl">


    <div class="panel panel-default">
        <div class="panel-body padding-lg">
            <!-- <md-button class="md-raised btn-w-md md-accent" ng-click="createContact()">Create Contact</md-button>
            <span class="space"></span> -->

            <!-- <md-button class="md-raised btn-w-md md-accent" ng-click="show()">Alert</md-button>
            <span class="space"></span>
            <md-button class="md-raised btn-w-md md-accent" ng-click="showConfirm()">Show Advanced</md-button>
            <span class="space"></span> -->

            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Search Contact</label>
                    <input ng-model="search.key" ng-enter="searchContacts()">
                </md-input-container>


                <md-input-container flex>
                    <label>Sort Type</label>
                    <md-select ng-model="search.sortType">
                        <md-option value="Date">Date</md-option>
                        <md-option value="Email">Email</md-option>
                        <md-option value="FirstName">First Name</md-option>
                        <md-option value="LastName">Last Name</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Sort Order</label>
                    <md-select ng-model="search.sortOrder">
                        <md-option value="ASE">ASE</md-option>
                        <md-option value="DESE">DESE</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Max Record</label>
                    <md-select ng-model="search.limit">
                        <md-option value="2">2</md-option>
                        <md-option value="20">20</md-option>
                        <md-option value="50">50</md-option>
                        <md-option value="200">200</md-option>
                        <md-option value="0">No Limit</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <md-button class="md-primary btn-w-md md-raised md-button md-ink-ripple" ng-click="searchContacts()">Search</md-button>
            <div class="space"></div>
            <md-button class="md-raised btn-w-md md-accent" ng-click="getRecentContacts()">Recent Contact</md-button>
            

                
        </div>
    </div>


    <div class="panel panel-default contact-card-view" >
        <div class="panel-body padding-lg">
            <a id="mylink" download="ddd.pdf" target="_blank" href="http://localhost:1000/temp/forms/1653b465-b9fc-4ced-b198-b83fb2e13913.pdf">click</a>

            <div class="panel panel-info contact-card" ng-click="openContactModal(contact)" ng-repeat="contact in contactList">
                <div class="panel-heading">
                    {{ contact.firstName + " " +  contact.lastName }}
                </div>
                <div class="panel-body">
                    <div class="card-label">
                        <i class="zmdi zmdi-account"></i>
                        {{contact.legalFirstName + " " +  contact.legalLastName }}
                    </div>
                    <div class="card-label">    
                        <i class="zmdi zmdi-email"></i>
                        {{contact.email}}
                    </div>

                    <div class="card-label">
                        <i class="zmdi zmdi-phone"></i>
                        {{contact.phone}}
                    </div>

                    <!-- <div >
                        <button ng-click="genForms()" class="md-raised btn-w-xs md-accent md-button md-ink-ripple" type="button" >
              
                            <span class="ng-scope"> Offer</span>
                        </button>

                        <button class="md-raised btn-w-xs md-warn md-button md-ink-ripple" type="button" >
                          
                            <span class="ng-scope"> Listing</span>
                        </button>


                    </div> -->
                    
                </div>
            </div>


        </div>
    </div>

</div>





<script type="text/ng-template" id="ModalFormContact.html">
    <div class="modal-header">
        <h3>Form Generate Here</h3>
    </div>
    <div class="modal-body">
        
        <div >
            <button ng-click="genOfferForms()" class="md-raised btn-w-xs md-accent md-button md-ink-ripple" type="button" >
               <!--  <span class="fa fa-headphones ng-scope"></span> -->
                <span class="ng-scope"> Offer</span>
            </button>

            <button ng-click="genListingForms()" class="md-raised btn-w-xs md-warn md-button md-ink-ripple" type="button" >
                <!-- <span class="fa fa-headphones ng-scope"></span> -->
                <span class="ng-scope"> Listing</span>
            </button>
        </div>


        <div ng-show="linkEnable.offer">
            <a id="downloadOfferLink" download="file.pdf" target="_blank" href=""><h4>Download Offer Forms File</h4></a>
        </div>
        <div ng-show="linkEnable.listing">
            <a id="downloadListingLink" download="file.pdf" target="_blank" href=""><h4>Download Listing Forms File</h4></a>
        </div>

        <!-- <div layout layout-sm="column">
            <md-input-container flex>
                <label>First Name</label>
                <input ng-model="contact.firstName">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="contact.lastName">
            </md-input-container>
        </div> -->



  



    </div>
    <div class="modal-footer">
        <button ui-wave class="btn btn-flat btn-default" ng-click="cancel()">Close</button>
    </div>
</script>

