<div class="page page-dashboard" data-ng-controller="FormGenerateCtrl">
    <div class="panel panel-default">
        <div class="panel-body padding-lg">
            <!-- <md-button class="md-raised btn-w-md md-accent" ng-click="createContact()">Create Contact</md-button>
            <span class="space"></span> -->

            <!-- <md-button class="md-raised btn-w-md md-accent" ng-click="show()">Alert</md-button>
            <span class="space"></span>
            <md-button class="md-raised btn-w-md md-accent" ng-click="showConfirm()">Show Advanced</md-button>
            <span class="space"></span> -->

            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Search Contact</label>
                    <input ng-model="search.key" ng-enter="searchContacts()">
                </md-input-container>

                <md-input-container flex>
                    <label>Sort Type</label>
                    <md-select ng-model="search.sortType">
                        <md-option value="Date">Date</md-option>
                        <md-option value="Email">Email</md-option>
                        <md-option value="FirstName">First Name</md-option>
                        <md-option value="LastName">Last Name</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Sort Order</label>
                    <md-select ng-model="search.sortOrder">
                        <md-option value="ASE">ASE</md-option>
                        <md-option value="DESE">DESE</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Max Record</label>
                    <md-select ng-model="search.limit">
                        <md-option value="2">2</md-option>
                        <md-option value="20">20</md-option>
                        <md-option value="50">50</md-option>
                        <md-option value="200">200</md-option>
                        <md-option value="0">No Limit</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <md-button class="md-primary btn-w-md md-raised md-button md-ink-ripple" ng-click="searchContacts()">Search</md-button>
            <div class="space"></div>
            <md-button class="md-raised btn-w-md md-accent" ng-click="getRecentContacts()">Recent Contact</md-button>

            <div class="space"></div>
            <md-button class="md-raised btn-w-md md-accent" ng-click="getPropertyInfo()">Get Property Info</md-button>
            

                
        </div>
    </div>


    <div class="panel panel-default contact-card-view" >
        <div class="panel-body padding-lg">
            <div class="panel panel-info contact-card" ng-click="openContactModal(contact)" ng-repeat="contact in contactList">
                <div class="panel-heading">
                    {{ contact.firstName + " " +  contact.lastName }}
                </div>
                <div class="panel-body">
                    <div class="card-label">
                        <i class="zmdi zmdi-account"></i>
                        {{contact.legalFirstName + " " +  contact.legalLastName }}
                    </div>
                    <div class="card-label">    
                        <i class="zmdi zmdi-email"></i>
                        {{contact.email}}
                    </div>

                    <div class="card-label">
                        <i class="zmdi zmdi-phone"></i>
                        {{contact.phone}}
                    </div>
                    <!-- <div >
                        <button ng-click="genForms()" class="md-raised btn-w-xs md-accent md-button md-ink-ripple" type="button" >
                            <span class="ng-scope"> Offer</span>
                        </button>
                        <button class="md-raised btn-w-xs md-warn md-button md-ink-ripple" type="button" >
                            <span class="ng-scope"> Listing</span>
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="ModalFormContact.html">
<div id="FormContactModal">
    <div class="modal-header">
        
        <div class="header-client-info">
            Client: <strong>{{ contact.firstName + ' ' + contact.lastName}}</strong>
            ({{ contact.legalFirstName + ' ' + contact.legalLastName}})
        </div>
            <div  id="action-button" class="btn-group btn-raised dropdown" uib-dropdown="" is-open="status.isopen3" >
                <button ui-wave="" type="button" class="btn btn-w-md btn-info ui-wave"><span class="ink wave-animate"></span> Action</button>
                <button ui-wave="" type="button" class="btn btn-info dropdown-toggle ui-wave" uib-dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false" aria-disabled="false"><span class="ink wave-animate" ></span>
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;"  ng-click="createOffer()">Create Offer</a></li>
                    <li><a href="javascript:;">Create Listing</a></li>
              
                    <li class="divider"></li>
                    <li><a href="javascript:;"  ng-click="cancel()">Close</a></li>
                </ul>
            </div>

    </div>
    <div class="modal-body">
        <div class="slider-panel">
   
            

            <div class="header-bar">
                <a ui-wave="" href="javascript:;" ng-click="closeSlidePanel()"  class="close-icon"><i class="zmdi zmdi-close"></i></a>
                Offer : {{selectedOffer.title}} ({{selectedOffer.created |  date:'medium' }})
            </div>
            <div class="ui-tab-container ui-tab-vertical" style="background-color: white">
                <uib-tabset class="ui-tab">
                    <uib-tab heading="Offer Detail" >
                        <div class="tab-content-box">
                            <div layout layout-sm="column">
                                <md-input-container flex >
                                    <label>Offer Title</label>
                                    <input ng-model="selectedOffer.title" >
                                </md-input-container>
                                
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Property Infomation" >
                        <div class="tab-content-box">

                            <div>
                                <md-input-container >
                                    <label>MlS Number</label>
                                    <input ng-model="property.mls_num" ng-enter="">
                                </md-input-container>
                                <a ui-wave=""  ng-click="loadPropertyInfo()"  href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-instagram ui-wave"><i class="fa fa-instagram"></i></a> 
                            </div>

                            <div layout layout-sm="column">
                                <md-input-container flex >
                                    <label>Address</label>
                                    <input ng-model="selectedOffer.property_address" >
                                </md-input-container>
                            </div>

                           
                        </div>
                    </uib-tab>
                    <uib-tab heading="Saller" >
                        <div class="tab-content-box">
                            <div layout layout-sm="column">
                                <md-input-container flex >
                                    <label>Saller First Name</label>
                                    <input ng-model="selectedOffer.saller_first_name" >
                                </md-input-container>
                                <md-input-container flex >
                                    <label>Saller Last Name</label>
                                    <input ng-model="selectedOffer.saller_last_name" >
                                </md-input-container>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Buyer" >
                        <div class="tab-content-box">
                            <div layout layout-sm="column">
                                <md-input-container flex >
                                    <label>Bayer First Name</label>
                                    <input ng-model="selectedOffer.buyer_first_name" >
                                </md-input-container>
                                <md-input-container flex >
                                    <label>Bayer Last Name</label>
                                    <input ng-model="selectedOffer.buyer_last_name" >
                                </md-input-container>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Forms" >
                        <div class="tab-content-box">
                            <button ng-click="" class="md-raised btn-w-xs md-accent md-button md-ink-ripple" type="button" >
                               <!--  <span class="fa fa-headphones ng-scope"></span> -->
                                <span class="ng-scope"> Offer</span>
                            </button>
                        </div>
                    </uib-tab>
                   
                    
                </uib-tabset>
            </div>  

            <div style="text-align: right; margin-top: 20px;">
                <button ng-click="updateOffer()" class="md-raised btn-w-xs md-warn md-button md-ink-ripple" type="button" >
                <!-- <span class="fa fa-headphones ng-scope"></span> -->
                    <span class="ng-scope">Save</span>
                </button>
            </div>

        </div>
        <div>
            <div class="offer" ng-repeat="offer in offers"  ng-click="openSlidePanel(offer)">
                <div>{{ offer.title }}</div>  
                <div>{{ offer.property_address }}</div>
                <div>{{ offer.created | date: 'MMM d, y' }}</div>
            </div>
        </div>
 


      <!--   <div>
            <h5>Property</h5>
            <md-input-container >
                <label>MlS Number</label>
                <input ng-model="property.mls_num" ng-enter="">
            </md-input-container>
            <button ng-click="loadPropertyInfo()" class="md-raised btn-w-xs md-accent md-button md-ink-ripple" type="button" >
                <span class="ng-scope">Load Property Info</span>
            </button>

            <div>
                {{property.address}}
            </div>
        </div> -->


      

    </div>
    <div class="modal-footer">
        <button ui-wave class="btn btn-flat btn-default" ng-click="cancel()">Close</button>
    </div>
</div>

</script>

