<div class="page page-dashboard" data-ng-controller="UserCtrl">

<!-- 	<div class="panel panel-default">
		<div class="panel-body padding-lg">


			<md-button class="md-raised btn-w-md md-accent" ng-click="createUser()">Create User</md-button>
            <span class="space"></span>



		</div>
	</div>
 -->
    <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">Users Table</h2>
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
            <div class="col-sm-4 col-xs-6">
                <form>
                <input type="text"
                     placeholder="Search..."
                     class="form-control"
                     data-ng-model="searchKeywords"
                     data-ng-keyup="search()">
                </form>
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info">
                <span>
                Showing {{filteredStores.length}}/{{userList.length}} entries
                </span>                
            </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th><div class="th">
                Name
                <span class="fa fa-angle-up"
                    data-ng-click=" order('name') "
                    data-ng-class="{active: row == 'name'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-name') "
                    data-ng-class="{active: row == '-name'}"></span>
                </div></th>
                <th><div class="th">
                Email
                <span class="fa fa-angle-up"
                    data-ng-click=" order('price') "
                    data-ng-class="{active: row == 'price'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-price') "
                    data-ng-class="{active: row == '-price'}"></span>
                </div></th>
                <th><div class="th">
                Phone
                <span class="fa fa-angle-up"
                    data-ng-click=" order('price') "
                    data-ng-class="{active: row == 'price'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-price') "
                    data-ng-class="{active: row == '-price'}"></span>
                </div></th>
                <th><div class="th">
                Status
                <span class="fa fa-angle-up"
                    data-ng-click=" order('price') "
                    data-ng-class="{active: row == 'price'}"></span>
                <span class="fa fa-angle-down"
                    data-ng-click=" order('-price') "
                    data-ng-class="{active: row == '-price'}"></span>
                </div></th>
                
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in userList" ng-click="editUser(user)">
                <td>{{user.firstName + ' ' + user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.status}}</td>
                
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                Show 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredStores.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>

</div>




<script type="text/ng-template" id="ModalCreateUser.html">
    <div class="modal-header">
        <h3>Edit User</h3>
    </div>
    <div class="modal-body">
        
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>First name</label>
                <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="user.lastName">
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="user.email">
            </md-input-container>
            <md-input-container flex>
                <label>Phone</label>
                <input ng-model="user.phone">
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Company</label>
                <input ng-model="user.company" >
            </md-input-container>

        </div>

        <div layout layout-sm="column">

          

            <md-input-container flex>
                <label>Status</label>
                <md-select ng-model="user.status">
                    <md-option ng-repeat="status in userStatus" value="{{status}}">
                      {{status}}
                    </md-option>
                </md-select>
            </md-input-container>

        </div>



    </div>
    <div class="modal-footer">
        <button ui-wave class="btn btn-flat btn-default" ng-click="cancel()">Cancel</button>
        <button ui-wave class="btn btn-flat btn-primary" ng-click="ok()">Create</button>
    </div>
</script>

