<div class="page page-dashboard" data-ng-controller="ContactCtrl">
	<div class="panel panel-default">
		<div class="panel-body padding-lg">
			<md-button class="md-raised btn-w-md md-accent" ng-click="createContact()">Create Contact</md-button>
            <span class="space"></span>

            <md-button class="md-raised btn-w-md md-accent" ng-click="show()">Alert</md-button>
            <span class="space"></span>
            <md-button class="md-raised btn-w-md md-accent" ng-click="showConfirm()">Show Advanced</md-button>
            <span class="space"></span>

		</div>
	</div>
</div>





<script type="text/ng-template" id="ModalCreateContact.html">
    <div class="modal-header">
        <h3>Edit Contact</h3>
    </div>
    <div class="modal-body">
        
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>First Name</label>
                <input ng-model="contact.firstName">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="contact.lastName">
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Legal First Name</label>
                <input ng-model="contact.legalFirstName">
            </md-input-container>
            <md-input-container flex>
                <label>Legal Last Name</label>
                <input ng-model="contact.legalLastName">
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="contact.email">
            </md-input-container>
            <md-input-container flex>
                <label>Phone</label>
                <input ng-model="contact.phone">
            </md-input-container>
            <md-input-container flex>
                <label>Sin #</label>
                <input ng-model="contact.sin">
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Address</label>
                <input ng-model="contact.address.address">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
        
            <md-input-container flex>
                <label>City</label>
                <input ng-model="contact.address.city">
            </md-input-container>
            <md-input-container flex>
                <label>Potal Code</label>
                <input ng-model="contact.address.zip">
            </md-input-container>
        </div>

  



    </div>
    <div class="modal-footer">
        <button ui-wave class="btn btn-flat btn-default" ng-click="cancel()">Cancel</button>
        <button ui-wave class="btn btn-flat btn-primary" ng-click="ok()">Create</button>
    </div>
</script>

