

<div class="page ng-scope" ng-controller="TranslateManagementCtrl">
	<div class="row ui-section">
		<div class="col-lg-8 clearfix">
	        <h2 class="section-header">Material Loader</h2>
	    </div>
		<div class="col-md-12">

			<section class="panel panel-default">
				<div class="panel-body">


					 <md-input-container flex>
					    <label>Select Language</label>
					    <md-select ng-model="user.state" style="min-width: 150px">
					        <md-option ng-repeat="state in states" value="{{state.code}}">
					            {{state.desc}}
					        </md-option>
					    </md-select>
					</md-input-container>


				</div>
			</section>


		    <section class="panel panel-default">
		        <div class="panel-body">


		            <div class="panel panel-default">
		                <div class="panel-heading">
		                    <h3 class="panel-title">Translation Feilds</h3>
		                </div>
		                <div class="panel-body traslation-panel" >


							<div class="panel panel-default ui-ribbon-container ui-ribbon-success traslation-feild-item">
								<div >
	                                <div class="ui-ribbon-wrapper">
	                                    <div class="ui-ribbon">
	                                        中文
	                                    </div>
	                                </div>
	                                <div class="panel-heading">Ribbon-success</div>
	                                <div class="panel-body">
	                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
	                                </div>
								</div>
                            </div>

                            <div class="panel panel-default ui-ribbon-container ui-ribbon-success traslation-feild-item">
								<div >
	                                <div class="ui-ribbon-wrapper">
	                                    <div class="ui-ribbon">
	                                        中文
	                                    </div>
	                                </div>
	                                <div class="panel-heading">Ribbon-success</div>
	                                <div class="panel-body">
	                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
	                                </div>
								</div>
                            </div>
                            <div class="panel panel-default ui-ribbon-container ui-ribbon-success traslation-feild-item">
								<div >
	                                <div class="ui-ribbon-wrapper">
	                                    <div class="ui-ribbon">
	                                        中文
	                                    </div>
	                                </div>
	                                <div class="panel-heading">Ribbon-success</div>
	                                <div class="panel-body">
	                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
	                                </div>
								</div>
                            </div>
                            <div class="panel panel-default ui-ribbon-container ui-ribbon-success traslation-feild-item">
								<div >
	                                <div class="ui-ribbon-wrapper">
	                                    <div class="ui-ribbon">
	                                        中文
	                                    </div>
	                                </div>
	                                <div class="panel-heading">Ribbon-success</div>
	                                <div class="panel-body">
	                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
	                                </div>
								</div>
                            </div>
                            <div class="panel panel-default ui-ribbon-container ui-ribbon-success traslation-feild-item">
								<div >
	                                <div class="ui-ribbon-wrapper">
	                                    <div class="ui-ribbon">
	                                        中文
	                                    </div>
	                                </div>
	                                <div class="panel-heading">Ribbon-success</div>
	                                <div class="panel-body">
	                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
	                                </div>
								</div>
                            </div>
                            <div class="panel panel-default ui-ribbon-container ui-ribbon-success traslation-feild-item">
								<div >
	                                <div class="ui-ribbon-wrapper">
	                                    <div class="ui-ribbon">
	                                        中文
	                                    </div>
	                                </div>
	                                <div class="panel-heading">Ribbon-success</div>
	                                <div class="panel-body">
	                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
	                                </div>
								</div>
                            </div>
                            <div class="panel panel-default ui-ribbon-container ui-ribbon-success traslation-feild-item">
								<div >
	                                <div class="ui-ribbon-wrapper">
	                                    <div class="ui-ribbon">
	                                        中文
	                                    </div>
	                                </div>
	                                <div class="panel-heading">Ribbon-success</div>
	                                <div class="panel-body">
	                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?</p>
	                                </div>
								</div>
                            </div>


		                </div>
		            </div>
		          
		        </div>
		    </section>
		</div>	

	</div>

</div>
