<div class="page page-dashboard" data-ng-controller="TranslateCtrl">

	<div class="panel panel-default">
		<div class="panel-body padding-lg">
			<md-input-container class="md-block md-input-has-value">
				<label for="input_link">URL Link</label>
				<input ng-model="link" class="ng-pristine ng-valid md-input ng-touched" id="input_link"  aria-invalid="false" style=""><div class="md-errors-spacer"></div>


			</md-input-container>
			<button class="md-raised btn-w-md md-primary md-button md-ink-ripple " type="button" ng-click="translate()" ><span class="ng-scope">Primary</span></button>
		</div>
	</div>

	<div class="row">
		<iframe class="col-xs-12" src="">
			


		</iframe>
	</div>
</div>
