<div class="page page-dashboard" data-ng-controller="TranslateCtrl">

	<div class="panel panel-default">
		<div class="panel-body padding-lg">
			
			<!-- link input textbox -->

			<div layout layout-sm="column">
				<md-input-container flex sclass="md-block md-input-has-value">
					<label for="input_link">Paste Your Toronto MLS Link Here...</label>
					<input ng-model="link" class="ng-pristine ng-valid md-input ng-touched" id="input_link"  aria-invalid="false" style="" ng-disabled="loading||successed"><div class="md-errors-spacer"></div>
				</md-input-container>
				<md-input-container >
				    <label>Translate Language</label>
				    <md-select ng-model="selectedLanguage" style="min-width: 170px">
				        <md-option ng-repeat="language in languages" value="{{language.code}}">
				            {{language.desc}}
				        </md-option>
				    </md-select>
				</md-input-container>
			</div>



			<!-- translate start button -->
			<button ng-diabled="successed" class="md-raised btn-w-md md-primary md-button md-ink-ripple " type="button" ng-click="translate()"  ng-disabled="loading||successed"><span class="ng-scope">Translate</span></button>
			<!-- print result button -->
			<button ng-if="successed" class="md-raised btn-w-md md-accent   md-button md-ink-ripple " type="button" ng-click="print()" ><span class="ng-scope">print</span></button>
			<!-- clear result btton -->
			<button ng-if="successed" class="md-raised btn-w-md md-warn   md-button md-ink-ripple " type="button" ng-click="clear()" ><span class="ng-scope">Clear</span></button>

			<!-- <a ng-click="createItem()">create</a> -->
		</div>
	</div>

	<div class="callout callout-success" ng-if="!started">
        <span>Translate Result Will Show Here .....</span>
    </div>

	<div class="panel panel-default" ng-if="started">
		<div class="panel-body padding-lg ">

			<div ng-if="loading">
				<md-progress-circular md-mode="indeterminate" md-diameter="96" aria-valuemin="0" aria-valuemax="100" role="progressbar" class="center" style="width: 96px; height: 96px;"><div class="md-scale-wrapper md-mode-indeterminate" style="transform: translate(-50%, -50%) scale(0.96);"><div class="md-spinner-wrapper"><div class="md-inner"><div class="md-gap"></div><div class="md-left"><div class="md-half-circle"></div></div><div class="md-right"><div class="md-half-circle"></div></div></div></div></div>
				</md-progress-circular>
			
			</div>

			<iframe ng-show="!loading&&successed" class="display-iframe" id="returnResult" ></iframe>
		</div>
	</div>

</div>

