<div class="page page-dashboard" data-ng-controller="ProileCtrl">

    <div class="row ui-section">

        <div class="col-lg-12 clearfix">
            <h2 class="section-header">Change Password</h2>
        </div>

        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                
                    <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <md-content layout-padding>
                            <form name="userForm">
                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Current Password </label>
                                        <input ng-model="currrentPassword" >
                                    </md-input-container>
                     
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label> New Password</label>
                                        <input ng-model="newPassword">
                                    </md-input-container>
                     
                                </div>

                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Re-Enter Password</label>
                                        <input ng-model="rePassword">
                                    </md-input-container>
            
                                </div>
                                <div layout layout-sm="column" >
                                    <button ng-click="update()" class="md-raised btn-w-md md-accent md-button md-ink-ripple" type="button">
                                        <span class="zmdi zmdi-floppy"></span>
                                        <span class="ng-scope">Save</span>
                                    </button>
                                    <div class="space"></div>
                                    <button onclick="clear()" class="md-raised btn-w-md  md-button md-ink-ripple" type="button">
                                        <span class="zmdi zmdi-undo"></span>
                                        <span class="ng-scope">Revert</span>
                                    </button>
                                </div>
  
                            </form>
                        </md-content>
                    </div>

                </div>
            </section>
        </div>
    </div>

</div>




